body {
    margin: 0;
    background-image: linear-gradient(lightgray, #9c9c9c);
}

/* header */

.header {
    width: 100%;
    height: auto;
    background-color: lightgray;
    padding-top: 35px;
    padding-bottom: 50px;
    display: flexbox;
    border-bottom: 1px solid black;
}

.brand {
    font-size: 86px;
    float: left;
}

.slogan {
    font-size: 60px;
    text-align: right;
    margin-right: 10px;
}

.icon {
    margin-left: 3%;
    margin-right: 2%;
    float: left;
    width: 98px;
    height: 94px;
}

h1 {
    margin: 0;
    font-family: 'Judson', serif;
}

@media screen and (max-width: 800px) {
    .slogan {
        display: inline-flex;
        font-size: 60px;
        text-align: center;
        margin-left: 25px;
    }
}


/* header */


/* navigation */

.navicontain {
    background-color: black;
    width: 100%;
    overflow: auto;
}

.navicontain a {
    float: left;
    padding: 12px;
    font-size: 32px;
    width: 20%;
    text-align: center;
    font-family: 'Judson', serif;
}

.text {
    color: white;
    text-decoration: none;
}

.text:hover {
    color: red;
    transition: all 0.2s ease-in;
}

.active {
    color: yellow;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 32px;  
    border: none;
    outline: none;
    color: white;
    padding: 12px 28px;
    background-color: inherit;
    font-family: 'Judson', serif;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
    margin-left: 35px;
}

.dropdown-content a:last-child {
    margin-left: 10px;
}

.dropdown-content a:hover {
    color: red;
    transition: all 0.2s ease-in;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 800px) {
    .navicontain a {
        float: none;
        display: block;
        width: 90%;
        text-align: left;
    }

    .dropdown {
        float: none;
    }

    .dropdown-content {
        position: relative;
    }

    .dropdown .dropbtn {
        display: block;
        width: 90%;
        text-align: left;
    }

    .dropdown-content a {
        margin: 0;
    }

    .dropdown-content a:last-child {
        margin: 0;
    }
    
}

/* navigation */


/* content */

h2 {
    text-align: center;
    font-family: 'Judson', serif;
    font-size: 40px;
}

.box {
    display: flex;
}

.store {
    width: 393px;
    height: 456px;
    margin-left: 127px;
    border-radius: 30px;
}

.para {
    display: relative;
    margin-left: 50px;
}

p {
    font-family: 'Judson', serif;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .navicontain a {
        float: none;
        display: block;
        width: 90%;
        text-align: left;
    }
}

/* content */


/* footer */

.footer {
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
    padding-bottom: 225px;
    bottom: 0;
}

.container {
    width: 28%;
    float: left;
    display: flex;
    border: 1px solid black;
    align-items: center;
    background-color: black;
    top: 0;
}

.container span {
    float: left;
    margin-right: 10%;
    margin-left: 3%;
    font-size: 24px;
    color: yellow;
}

.contact {
    position: relative;
    width: 50%;
    float: right;
    color: white;
    font-size: 24px;
}

.information {
    display: relative;
    margin-right: 400px;
    margin-left: 400px;
}

.style1 {
    line-height: 1.5;
    margin-top: 10px;
    margin-left: 100px;
    display: relative;
    float: left;
}

.style2 {
    line-height: 1.5;
    margin-top: 10px;
    margin-right: 100px;
    display: relative;
    float: right;
}

.text1 {
    font-size: 20px;
    font-family: 'Judson', serif;
}

.text2 {
    font-size: 16px;
    font-family: 'Judson', serif;
    color: black;
    text-decoration: none;
}

.text2:hover {
    color: red;
    transition: all 0.2s ease-in;
}

@media screen and (max-width: 800px) {

    .footer {
        padding-bottom: 100px;
    }

    .container span {
        float: left;
        margin-right: 10%;
        margin-left: 5%;
        font-size: 24px;
        color: yellow;
    }

    .container {
        width: 60%;
        float: left;
        display: flex;
        border: 1px solid black;
        align-items: center;
        background-color: black;
        top: 0;
    }

    .information {
        display: flex;
        flex-direction: column;
    }

    .style2 {
        width: 94px;
        height: 27px;
        margin-left: 100px;
        text-align: center;
        display: relative;
        float: none;
    }
    
}


/* footer */